<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zhenghao.admin.generator.dao.ToolGeneratorMapper">

    <select id="listTable" resultType="TableEntity" flushCache="true">
        SELECT
            table_name,
            engine,
            table_comment,
            create_time
        FROM
            information_schema.tables
        WHERE
            table_schema = (SELECT DATABASE())
            <if test="tableName != null and tableName.trim() != ''">
                AND table_name LIKE concat('%', #{tableName}, '%')
            </if>
        <choose>
            <when test="sortOrder != null and sortOrder == 'ascend'">
                ORDER BY create_time
            </when>
            <when test="sortOrder != null and sortOrder == 'descend'">
                ORDER BY create_time DESC
            </when>
            <otherwise>
                ORDER BY create_time DESC
            </otherwise>
        </choose>
    </select>

    <select id="getTableByName" resultType="TableEntity">
		SELECT
			table_name,
			engine obj_name,
			table_comment,
			create_time
		FROM
			information_schema.tables
		WHERE
			table_schema = (SELECT DATABASE())
		AND table_name = #{value}
	</select>

    <select id="listColumn" resultType="ColumnEntity">
		SELECT
			column_name,
			data_type,
			column_comment,
			column_key,
			extra
		FROM
			information_schema.columns
		WHERE
			table_name = #{value}
		AND table_schema = (SELECT DATABASE())
		ORDER BY
			ordinal_position
	</select>

</mapper>