<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="net.zhenghao.zh.common.dao.SysLogMapper">

	<select id="listForPage" resultType="SysLogEntity" flushCache="true">
		SELECT
			id,
			user_id,
			username,
			operation,
			time,
			method,
			params,
			ip,
			browser,
			os,
			result,
			remark,
			type,
			create_time
		FROM
			sys_log
		<where>
			<if test=" type != null and type != '' ">
				type = #{type}
			</if>
			<if test=" startDate != null and startDate != '' and endDate != null and endDate != '' ">
				AND DATE_FORMAT(create_time, '%Y-%m-%d') BETWEEN #{startDate} AND #{endDate}
			</if>
			<if test="username != null and username.trim() != ''">
				AND username LIKE concat('%',#{username},'%')
			</if>
			<if test="operation != null and operation.trim() != ''">
				AND operation LIKE concat('%',#{operation},'%')
			</if>
		</where>
		ORDER BY
			create_time DESC
	</select>
	
	<insert id="save">
		INSERT INTO sys_log (
			user_id,
			username,
			operation,
			time,
			method,
			params,
			ip,
			browser,
			os,
			result,
			remark,
			type,
			create_time
		)
		VALUES (
			#{userId},
			#{username}, 
			#{operation},
			#{time}, 
			#{method}, 
			#{params}, 
			#{ip}, 
			#{browser},
			#{os},
			#{result},
			#{remark},
			#{type},
			NOW()
		)
	</insert>
	
	<delete id="batchRemove">
		DELETE
		FROM
			sys_log
		WHERE
			id IN
		<foreach item="id" collection="array" open="(" separator="," close=")" >
			#{id}
		</foreach>
	</delete>
	
	<delete id="batchRemoveAll">
		DELETE
		FROM
			sys_log
		WHERE
			type = #{type}
	</delete>

</mapper>