<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.zhenghao.admin.server.dao.SysLogMapper">

	<select id="listForPage" resultType="com.zhenghao.admin.server.entity.SysLogEntity" flushCache="true">
		SELECT
			id,
			user_id,
			username,
			operation,
			time,
			method,
			params,
			ip,
			browser,
			os,
			status,
			remark,
			type,
			create_time
		FROM
			sys_log
		<where>
			<if test="username != null and username.trim() != ''">
				AND username LIKE concat('%',#{username},'%')
			</if>
			<if test="operation != null and operation.trim() != ''">
				AND operation LIKE concat('%',#{operation},'%')
			</if>
			<if test="status != null and status.trim() != ''">
				AND status = #{status}
			</if>
			<if test=" type != null and type != '' ">
				AND type = #{type}
			</if>
			<if test=" startDate != null and startDate != '' and endDate != null and endDate != '' ">
				AND DATE_FORMAT(create_time, '%Y-%m-%d') BETWEEN #{startDate} AND #{endDate}
			</if>
		</where>
		<choose>
			<when test="sortOrder != null and sortOrder == 'ascend'">
				ORDER BY create_time
			</when>
			<when test="sortOrder != null and sortOrder == 'descend'">
				ORDER BY create_time DESC
			</when>
			<otherwise>
				ORDER BY id DESC
			</otherwise>
		</choose>
	</select>
	
	<insert id="save">
		INSERT INTO sys_log (
			user_id,
			username,
			operation,
			time,
			method,
			params,
			ip,
			browser,
			os,
			status,
			remark,
			type,
			create_time
		)
		VALUES (
			#{userId},
			#{username}, 
			#{operation},
			#{time}, 
			#{method}, 
			#{params}, 
			#{ip}, 
			#{browser},
			#{os},
			#{status},
			#{remark},
			#{type},
			NOW()
		)
	</insert>
	
	<delete id="batchRemove">
		DELETE
		FROM
			sys_log
		WHERE
			id IN
		<foreach item="id" collection="array" open="(" separator="," close=")" >
			#{id}
		</foreach>
	</delete>
	
	<delete id="batchRemoveAll">
		DELETE
		FROM
			sys_log
		WHERE
			type = #{type}
	</delete>

	<select id="countTotalVisit" resultType="java.lang.Integer">
		SELECT
			COUNT(*)
		FROM
			sys_log
		WHERE
			type = 1
	</select>

	<select id="countTodayVisit" resultType="java.lang.Integer">
		SELECT
			COUNT(*)
		FROM
			sys_log
		WHERE
			type = 1
		AND DATE_FORMAT(create_time, '%Y-%m-%d') = DATE_FORMAT(NOW(), '%Y-%m-%d');
	</select>

	<select id="listCountLastWeekVisit" resultType="com.zhenghao.admin.common.vo.ChartVO">
		SELECT
			COUNT(*) AS y,
			DATE_FORMAT(create_time, '%Y-%m-%d') AS x
		FROM
			sys_log
		WHERE
			type = 1
			AND DATE_SUB(CURDATE(), INTERVAL 7 DAY) <![CDATA[<= ]]> DATE(`create_time`)
		GROUP BY
			DATE_FORMAT(create_time, '%Y-%m-%d')
	</select>

</mapper>