package ${package}.${module}.controller;

import com.zhenghao.admin.common.annotation.SysLog;
import com.zhenghao.admin.common.controller.AbstractController;
import com.zhenghao.admin.common.entity.Page;
import com.zhenghao.admin.common.entity.Result;
import ${package}.${module}.entity.${className}Entity;
import ${package}.${module}.service.${className}Service;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.web.bind.annotation.*;

import java.util.Map;

/**
 * ${comments}
 *
 * @author:${author}
 * @Email :${email}
 * @date :${datetime}
 * ${className}Controller.java
 */
@RestController
@RequestMapping("${zh-admin.api.prefix}/${requestMapping}")
public class ${className}Controller extends AbstractController {

	@Autowired
	private ${className}Service ${objName}Service;
	
	/**
	 * 列表
	 *
	 * @param params
	 * @return
	 */
	@GetMapping("")
	public Result<Page<${className}Entity>> list(@RequestParam Map<String, Object> params) {
		return ${objName}Service.list${className}(params);
	}

    /**
     * 根据id查询详情
     *
     * @param ${pk.fieldName}
     * @return
     */
    @GetMapping("/{id}")
    public Result<${className}Entity> info(@PathVariable("id") Long ${pk.fieldName}) {
        return ${objName}Service.get${className}ById(${pk.fieldName});
    }

    /**
	 * 新增
     *
	 * @param ${objName}
	 * @return
	 */
    @SysLog("新增${comments}")
    @PostMapping("")
    public Result save(@RequestBody ${className}Entity ${objName}) {
        ${objName}.setCreatorId(getUserId());
        return ${objName}Service.save${className}(${objName});
    }

    /**
	 * 修改
     *
	 * @param ${pk.fieldName}
	 * @param ${objName}
	 * @return
	 */
    @SysLog("修改${comments}")
    @PutMapping("/{id}")
    public Result update(@PathVariable("id") Long ${pk.fieldName}, @RequestBody ${className}Entity ${objName}) {
        ${objName}.set${pk.methodName}(${pk.fieldName});
        ${objName}.setModifierId(getUserId());
        return ${objName}Service.update${className}(${objName});
    }

    /**
	 * 删除
     *
	 * @param ${pk.fieldName}
	 * @return
	 */
    @SysLog("删除${comments}")
    @DeleteMapping("/{id}")
    public Result remove(@PathVariable("id") Long ${pk.fieldName}) {
        return ${objName}Service.remove${className}(${pk.fieldName});
    }

    /**
	 * 批量删除
	 *
	 * @param ids
	 * @return
	 */
    @SysLog("批量删除${comments}")
    @DeleteMapping("")
    public Result batchRemove(@RequestBody Long[] ids) {
        return ${objName}Service.batchRemove(ids);
    }
	
}