<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.zhenghao.zh.auth.dao.SysMenuMapper">

	<resultMap id="MenuListResult" type="SysMenuEntity">
		<id property="menuId" column="menu_id" />
		<result property="parentId" column="parent_id" />
		<result property="name" column="name" />
		<result property="uri" column="uri" />
		<result property="method" column="method" />
		<result property="perms" column="perms" />
		<result property="type" column="type" />
		<result property="orderNum" column="order_num" />
		<result property="description" column="description" />
		<collection property="children" javaType="ArrayList" ofType="net.zhenghao.zh.auth.entity.SysMenuEntity" column="menu_id"
					select="listParentId" />
	</resultMap>

	<resultMap id="MenuVoListNotButtonResult" type="TreeVO">
		<id property="key" column="menu_id" />
		<result property="parentId" column="parent_id" />
		<result property="value" column="menu_id" />
		<result property="title" column="name" />
		<collection property="children" javaType="ArrayList" ofType="net.zhenghao.zh.common.vo.TreeVO" column="menu_id"
                    select="listTreeNotButtonParentId" />
	</resultMap>

	<resultMap id="MenuVoListResult" type="TreeVO">
		<id property="key" column="menu_id" />
		<result property="parentId" column="parent_id" />
		<result property="value" column="menu_id" />
		<result property="title" column="name" />
		<collection property="children" javaType="ArrayList" ofType="net.zhenghao.zh.common.vo.TreeVO" column="menu_id"
                    select="listTreeParentId" />
	</resultMap>

	<select id="list" resultMap="MenuListResult">
		SELECT
			m.menu_id,
			m.parent_id,
			(
				SELECT
					p.name
				FROM
					sys_menu p
				WHERE
					p.menu_id = m.parent_id
			) AS parentName,
			m.name,
			m.uri,
			m.method,
			m.perms,
			m.type,
			m.order_num,
			m.description
		FROM
			sys_menu m
		WHERE
			m.parent_id = 0
		ORDER BY
			m.order_num ASC
	</select>

	<select id="listParentId" parameterType="java.lang.Long" resultMap="MenuListResult">
		SELECT
			m.menu_id,
			m.parent_id,
			(
				SELECT
					p.name
				FROM
					sys_menu p
				WHERE
					p.menu_id = m.parent_id
			) AS parentName,
			m.name,
			m.uri,
			m.method,
			m.perms,
			m.type,
			m.order_num,
			m.description
		FROM
			sys_menu m
		WHERE
			m.parent_id = #{parentId}
		ORDER BY
			m.order_num ASC
	</select>

	<select id="listTreeNotButton" resultMap="MenuVoListNotButtonResult" flushCache="true">
		SELECT
			m.menu_id,
			m.parent_id,
			m.name
		FROM
			sys_menu m
		WHERE
			m.parent_id = 0
		ORDER BY
			m.order_num ASC
	</select>

	<select id="listTreeNotButtonParentId" parameterType="java.lang.Long" resultMap="MenuVoListNotButtonResult">
		SELECT
			m.menu_id,
			m.parent_id,
			m.name
		FROM
			sys_menu m
		WHERE
			m.parent_id = #{parentId}
		AND
			( m.type = 0 OR m.type = 1 )
		ORDER BY
			m.order_num ASC
	</select>

	<select id="listTree" resultMap="MenuVoListResult" flushCache="true">
		SELECT
			m.menu_id,
			m.parent_id,
			m.name
		FROM
			sys_menu m
		WHERE
			m.parent_id = 0
		ORDER BY
			m.order_num ASC
	</select>

	<select id="listTreeParentId" parameterType="java.lang.Long" resultMap="MenuVoListResult">
		SELECT
			m.menu_id,
			m.parent_id,
			m.name
		FROM
			sys_menu m
		WHERE
			m.parent_id = #{parentId}
		ORDER BY
			m.order_num ASC
	</select>

	<select id="getChildCountByMenuId" resultType="java.lang.Integer">
		SELECT
			COUNT(1)
		FROM
			sys_menu
		WHERE
			parent_id = #{value}
	</select>

	<insert id="save">
		INSERT INTO sys_menu (
			parent_id,
			name,
			uri,
			method,
			perms,
			type,
			order_num,
			description,
			creator_id,
			create_time
		)
		VALUES (
			#{parentId},
			#{name},
			#{uri},
			#{method,},
			#{perms},
			#{type},
			#{orderNum},
			#{description},
			#{creatorId},
			NOW()
		)
	</insert>

	<select id="getObjectById" resultType="SysMenuEntity">
		SELECT
			m.menu_id,
			m.parent_id,
			(
				SELECT
					p.name
				FROM
					sys_menu p
				WHERE
					p.menu_id = m.parent_id
			) AS parentName,
			m.name,
			m.uri,
			m.method,
			m.perms,
			m.type,
			m.order_num,
			m.description,
			m.create_time
		FROM
			sys_menu m
		WHERE
			menu_id = #{value}
	</select>
	
	<update id="update">
		UPDATE sys_menu
		<set> 
			<if test="parentId != null">parent_id = #{parentId}, </if>
			<if test="name != null">name = #{name}, </if>
			<if test="uri != null">uri = #{uri}, </if>
			<if test="method != null">method = #{method}, </if>
			<if test="perms != null">perms = #{perms}, </if>
			<if test="type != null">type = #{type}, </if>
			<if test="orderNum != null">order_num = #{orderNum}, </if>
			<if test="description != null">description = #{description}, </if>
			<if test="modifierId != null">modifier_id = #{modifierId},</if>
			modified_time = NOW()
		</set>
		where menu_id = #{menuId}
	</update>

	<delete id="remove">
		DELETE
		FROM
			sys_menu
		WHERE
			menu_id = #{value}
	</delete>
	
	<delete id="batchRemove">
		DELETE
		FROM
			sys_menu
		WHERE
			menu_id IN
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>
	
	<select id="listUserPerms" parameterType="long" resultType="SysMenuEntity">
		SELECT DISTINCT
			m.uri,
			m.method
		FROM
			sys_user_role ur
		LEFT JOIN sys_role_menu rm ON ur.role_id = rm.role_id
		LEFT JOIN sys_menu m ON rm.menu_id = m.menu_id
		WHERE
			ur.user_id = #{userId}
		AND (m.type = 2 OR m.type = 3)
	</select>

	<select id="listUserMenu" parameterType="long" resultType="SysMenuEntity" >
		SELECT DISTINCT
			m.menu_id,
			m.parent_id,
			m.name,
			m.perms,
			m.type
		FROM
			sys_menu m
		LEFT JOIN sys_role_menu rm ON rm.menu_id = m.menu_id
		LEFT JOIN sys_user_role ur ON ur.role_id = rm.role_id
		WHERE
			ur.user_id = #{userId}
	</select>
	
	<cache type="org.mybatis.caches.ehcache.EhcacheCache"/>
	
</mapper>