<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.zhenghao.zh.auth.dao.SysMenuMapper">

	<select id="list" resultType="SysMenuEntity" flushCache="true">
		SELECT
			m.id,
			m.parent_id,
			(
				SELECT
					p.name
				FROM
					sys_menu p
				WHERE
					p.id = m.parent_id
			) AS parentName,
			m.name,
			m.uri,
			m.method,
			m.perms,
			m.type,
			m.order_num,
			m.description
		FROM
			sys_menu m
		ORDER BY
			m.order_num ASC
	</select>

	<select id="listTreeNotButton" resultType="TreeVO" flushCache="true">
		SELECT
			m.id,
			m.parent_id,
			m.id AS `key`,
			m.id AS `value`,
			m.name AS title
		FROM
			sys_menu m
		WHERE
			( m.type = 0 OR m.type = 1 )
		ORDER BY
			m.order_num ASC
	</select>

	<select id="listTree" resultType="TreeVO" flushCache="true">
		SELECT
			m.id,
			m.parent_id,
			m.id AS `key`,
			m.id AS `value`,
			m.name AS title
		FROM
			sys_menu m
		ORDER BY
			m.order_num ASC
	</select>

	<select id="countChildById" resultType="java.lang.Integer">
		SELECT
			COUNT(1)
		FROM
			sys_menu
		WHERE
			parent_id = #{value}
	</select>

	<insert id="save">
		INSERT INTO sys_menu (
			parent_id,
			name,
			uri,
			method,
			perms,
			type,
			order_num,
			description,
			creator_id,
			create_time
		)
		VALUES (
			#{parentId},
			#{name},
			#{uri},
			#{method,},
			#{perms},
			#{type},
			#{orderNum},
			#{description},
			#{creatorId},
			NOW()
		)
	</insert>

	<select id="getObjectById" resultType="SysMenuEntity">
		SELECT
			m.id,
			m.parent_id,
			(
				SELECT
					p.name
				FROM
					sys_menu p
				WHERE
					p.id = m.parent_id
			) AS parentName,
			m.name,
			m.uri,
			m.method,
			m.perms,
			m.type,
			m.order_num,
			m.description,
			m.create_time
		FROM
			sys_menu m
		WHERE
			id = #{value}
	</select>
	
	<update id="update">
		UPDATE sys_menu
		<set> 
			<if test="parentId != null">parent_id = #{parentId}, </if>
			<if test="name != null">name = #{name}, </if>
			<if test="uri != null">uri = #{uri}, </if>
			<if test="method != null">method = #{method}, </if>
			<if test="perms != null">perms = #{perms}, </if>
			<if test="type != null">type = #{type}, </if>
			<if test="orderNum != null">order_num = #{orderNum}, </if>
			<if test="description != null">description = #{description}, </if>
			<if test="modifierId != null">modifier_id = #{modifierId},</if>
			modified_time = NOW()
		</set>
		where id = #{id}
	</update>

	<delete id="remove">
		DELETE
		FROM
			sys_menu
		WHERE
			id = #{value}
	</delete>
	
	<delete id="batchRemove">
		DELETE
		FROM
			sys_menu
		WHERE
			id IN
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>
	
	<select id="listUserPerms" parameterType="long" resultType="SysMenuEntity">
		SELECT DISTINCT
			m.uri,
			m.method
		FROM
			sys_user_role ur
		LEFT JOIN sys_role_menu rm ON ur.role_id = rm.role_id
		LEFT JOIN sys_menu m ON rm.menu_id = m.id
		WHERE
			ur.user_id = #{userId}
		AND (m.type = 2 OR m.type = 3)
	</select>

	<select id="listUserMenu" parameterType="long" resultType="SysMenuEntity" >
		SELECT DISTINCT
			m.id,
			m.parent_id,
			m.name,
			m.perms,
			m.type
		FROM
			sys_menu m
		LEFT JOIN sys_role_menu rm ON rm.menu_id = m.id
		LEFT JOIN sys_user_role ur ON ur.role_id = rm.role_id
		WHERE
			ur.user_id = #{userId}
	</select>
	
	<cache type="org.mybatis.caches.ehcache.EhcacheCache"/>
	
</mapper>