<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.zhenghao.zh.auth.dao.SysRoleMapper">

	<select id="list" resultType="SysRoleEntity">
		SELECT
			role_id,
			role_name
		FROM
			sys_role
		ORDER BY
			role_id ASC
	</select>
	
	<select id="listForPage" resultType="SysRoleEntity" flushCache="true">
		SELECT
			role_id,
			role_name,
			role_sign,
			remark,
			create_time
		FROM
			sys_role
		<where>
			<if test="userIdCreate != null">
				and creator_id = #{creatorId}
			</if>
			<if test="roleName != null and roleName.trim() != ''">
				AND role_name LIKE concat('%',#{roleName},'%') 
			</if>
			<if test="roleSign != null and roleSign.trim() != ''">
				AND role_sign LIKE concat('%',#{roleSign},'%')
			</if>
		</where>
		<choose>
			<when test="sortOrder != null and sortOrder == 'ascend'">
				ORDER BY create_time
			</when>
			<when test="sortOrder != null and sortOrder == 'descend'">
				ORDER BY create_time DESC
			</when>
			<otherwise>
				ORDER BY role_id DESC
			</otherwise>
		</choose>
	</select>
	
	<insert id="save">
		INSERT INTO sys_role (
			role_name,
			role_sign,
			remark,
			creator_id,
			create_time
		)
		VALUES (
			#{roleName},
			#{roleSign},
			#{remark}, 
			#{creatorId},
			now()
		)
	</insert>
	
	<select id="getObjectById" resultType="SysRoleEntity">
		SELECT
			role_id,
			role_name,
			role_sign,
			remark
		FROM
			sys_role
		WHERE
			role_id = #{roleId}
	</select>
	
	<update id="update">
		UPDATE sys_role
	 	<set> 
			<if test="roleName != null">role_name = #{roleName}, </if>
			<if test="roleSign != null">role_sign = #{roleSign}, </if>
			<if test="remark != null">remark = #{remark}, </if>
			<if test="modifierId != null">modifier_id = #{modifierId},</if>
			modified_time = NOW()
		</set>
		WHERE
			role_id = #{roleId}
	</update>

	<delete id="remove">
		DELETE
		FROM
			sys_role
		WHERE
			role_id = #{value}
	</delete>
	
	<delete id="batchRemove">
		DELETE
		FROM
			sys_role
		WHERE
			role_id IN
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>
	
	<select id="listUserRoles" parameterType="long" resultType="SysRoleEntity">
		SELECT DISTINCT
			r.role_id,
			r.role_name,
			r.role_sign
		FROM
			sys_user_role ur
		LEFT JOIN sys_role r ON ur.role_id = r.role_id
		LEFT JOIN sys_user u ON ur.user_id = u.user_id
		WHERE
			u.user_id = #{role}
	</select>
	
	<cache type="org.mybatis.caches.ehcache.EhcacheCache"/>
</mapper>