package ${package}.${module}.dao;

import com.zhenghao.admin.common.dao.BaseMapper;
import ${package}.${module}.entity.${className}Entity;

/**
 * ${comments}
 *
 * @author:${author}
 * @Email :${email}
 * @date :${datetime}
 * ${className}Mapper.java
 */
public interface ${className}Mapper extends BaseMapper<${className}Entity> {
}